/* Hide the navigation list by default on small screens */

.nav-list {
    display: none;
}


/* Style the hamburger menu icon */

.burger {
    display: block;
    cursor: pointer;
}


/* Style for the lines in the hamburger icon */

.line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
}


/* Additional styles for responsive navigation */

@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .burger {
        display: none;
    }
}
